body {
  font-family: Tahoma, sans-serif;
  font-size: 75%;
}

#app-root {
  height: 13rem;
  width: 22rem;
  display: flex;
}

#main {
  padding: 1em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.search-select-popout {
  display: flex;
  justify-content: space-between;
}

.search-option {
  width: 6rem;
  transform: scale(0.8);
  filter: grayscale(100%);
  padding-top: 1rem;
}

.search-option--selected {
  transform: none;
  filter: none;
}

.additional-settings {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgb(0 0 0 / 80%);
  border: none rgb(0 0 0 / 0%);
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
